<h1>Listing question_responses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_responses.each do |question_response| %>
  <tr>
    <td><%= link_to 'Show', question_response %></td>
    <td><%= link_to 'Edit', edit_question_response_path(question_response) %></td>
    <td><%= link_to 'Destroy', question_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question response', new_question_response_path %>
